code/envs
code/__pycache__/load_data.cpython-39.pyc
code/__pycache__/load_data.cpython-310.pyc
code/__pycache__/models.cpython-39.pyc
code/__pycache__/models.cpython-310.pyc
code/__pycache__/wrapers.cpython-39.pyc
code/__pycache__/wrapers.cpython-310.pyc
saves
videos
data 
dist
*.pyc
*.pdf
*.csv
*.pt
slurm
.neptune
events.*
tmp
TB_logs
tmp_logs
lightning_logs
saves
__pycache__
code/models/__pycache__/model_AE_FC.cpython-310.pyc
